*
!.gitignore
!comparative_synth.py
!text_networks.py

!DEDPUL
!DEDPUL/algorithms.py
!DEDPUL/KMPE.py
!DEDPUL/NN_functions.py
!DEDPUL/text_test.py
!DEDPUL/utils.py
!DEDPUL/synth_test.py
!DEDPUL/xray_test.py

!one_class
!one_class/README.md
!one_class/Deep_SVDD_PyTorch
!one_class/Deep_SVDD_PyTorch/src
!one_class/Deep_SVDD_PyTorch/src/*
!one_class/Deep_SVDD_PyTorch/README.md

**/__pycache__